<?php

/***************************************************************************
 *
 * Copyright (c) by Andreas Unterkircher, unki@netshadow.at
 * All rights reserved
 *
 *  This program is free software; you can redistribute it and/or modify
 *  it under the terms of the GNU General Public License as published by
 *  the Free Software Foundation; either version 2 of the License, or
 *  any later version.
 *
 *  This program is distributed in the hope that it will be useful,
 *  but WITHOUT ANY WARRANTY; without even the implied warranty of
 *  MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
 *  GNU General Public License for more details.
 *
 *  You should have received a copy of the GNU General Public License
 *  along with this program; if not, write to the Free Software
 *  Foundation, Inc., 675 Mass Ave, Cambridge, MA 02139, USA.
 *
 ***************************************************************************/

class NEPHTHYS_CFG extends NEPHTHYS_DEFAULT_CFG {

   // Change the page title shown in browsers title bar.
   // Default:
   //   var $page_title = "Nephthys - file sharing";

   // Path where you have installed Nephthys in the filesystem.
   // Default:
   //   var $base_path = "/srv/www/nephyths";

   // Path where file transfer will happen
   // Default:
   //   var $data_path = "/srv/www/nephyths_transfer";

   // Webpath with which Nephthys is addressed.
   // Default:
   //   var $web_path = "/nephthys";

   // Subdirectory to address the WebDAV folder:
   // Default:
   //   var $dav_path = "/transfer";

   // Subdirectory to address the FTP server:
   // Default:
   //   var $ftp_path = "";

   // Specify alternate theme name
   // Default:
   //   var $theme_name = "default";

   // Database type (mysql, sqlite)
   // Default:
   //   var $db_type = "mysql";

   // MySQL paramters
   //  var $mysql_host = "localhost";
   //  var $mysql_db   = "nephthys";
   //  var $mysql_user = "user";
   //  var $mysql_pass = "password";

   // SQLite paramters
   // Default:
   //  var $sqlite_path = "/srv/www/nephthys_db/nephthys.db";
 
   /* path to Smarty (http://smarty.php.net) installation. this option
      should directly point to the Smarty main directory containing the
      sub directories 'libs', 'misc', 'unit_test', ...
      Default: (like for Debian GNU/Linux Etch)
        var $smarty_path = "/usr/share/php/smarty";
   */

   // Select logging type:
   //    display - show message in HTML output
   //    errorlog - log error messages to webserver's error log
   //    logfile - log error message to $log_file
   // Default:
   //   var $logging = "display";

   // Error messages will appear in, when logging = logfile
   // Default:
   //   var $log_file = "nephthys_err.log";

   // Allow server authentication
   // If the server has already authenticated the client, take over the
   // login credentials.
   // Default:
   //   var $allow_server_auth = false;

   // Auto-create users which have been authenticated by the webserver
   // ($_SERVER['REMOTE_USER'] is present).
   // Default:
   //   var $user_auto_create = false;

   // Hide logout link - maybe useful if server authentication is enabled
   // Default:
   //   var $hide_logout = false;

   // Servername - hostname which will be sent out in email.
   // Default:
   //   var $servername = Auto-detect-from-Apache

   // Ignore JavaScript check
   // Default:
   //   var $ignore_js = false;

   // Use HTTPS WebDAV URLs - if supported by your webserver, Nephthys
   // will return WebDAV URLs starting with https://
   // Default:
   //   var $use_https = false;

   // Bucket access method - here you can control in which way buckets
   // can be accessed. This has nothing to do with the security settings
   // of the webserver or ftpserver. It only tells Nephthys what kind of
   // links it should provide to the user to access some buckets.
   // Default:
   //   var $bucket_via_dav = true;
   //   var $bucket_via_ftp = true;

} // class NEPHTHYS_CFG

?>
