body {
   color:                  rgb(26,151,15);
   font-family:            sans-serif;
   font-style:             normal;
   margin:                 0px 0px 0px 0px;
   padding:                0px 0px 0px 0px;
}

table, tr, td {
   border-collapse:        collapse;
   padding:                0px;
   empty-cells:            show;
   vertical-align:         top;
}

/* main cell containing photo content */
.content {
   margin-top:             40px;
   margin-left:            280px;
   margin-right:           0px;
   padding:                0px;
}

.icons {
   float:                  left;
}

div.header {
   background-color:       #eeeeee;
   padding:                10px;
   vertical-align:         middle;
   white-space:            nowrap;
}

img {
   border:                none;
}

a {
   font-size:              14px;
   color:                  #008200;
   text-decoration:        none;
}

a:hover {
   color:                  #00aa44;
}

input.submit,input.checkbox {
   background-color:       transparent;
   border:                 0px;
}

input, select, textarea {
   background-color:       #eeeeee;
   color:                  #333333;
   border:                 1px solid #888888;
   border-collapse:        collapse;
}
