body {
   color:                  rgb(26,151,15);
   font-family:            sans-serif;
   font-style:             normal;
   margin:                 0px 0px 0px 0px;
   padding:                0px 0px 0px 0px;
}

.cb {
   clear:                  both;
}

#tablehead {
   font-size:              16px;
   font-weight:            bold;
}

#chooser {
   width:                  50%;
   text-align:             center;
}

div.warning {
   visibility:             hidden;
   padding-left:           10px;
   color:                  #aa0000;
}

div.diskusage {
   text-align:             right;
   padding-top:            10px;
   padding-right:          5px;
}

div.forminfo {
   font-size:              8px;
   padding-top:            2px;
   padding-bottom:         2px;
}

div.new_action {
   vertical-align:         baseline;
   position:               relative;
   top:                    28px;
   right:                  10px;
   padding:                0px;
}

tr.subhead {
   font-style:             italic;
}

table, tr, td {
   border-collapse:        collapse;
   padding:                0px;
   empty-cells:            show;
   vertical-align:         top;
}

table.fullwidth {
   width:                  100%;
}

/* a table with border grid */
table.withborder tr td {
   border:                 1px solid #aaaaaa;
   border-collapse:        separate;
   padding:                2px;
}
/* the table itself has a max. width */
table.withborder {
   width:                  100%;
}

td.miniheader {
   font-weight:            bold;
}

/* overall surrounding box */
#box {
   margin-top:             0px;
   margin-left:            50px;
   margin-right:           50px;
   padding:                15px;
   padding-top:            10px;
   border:                 1px solid #aaaaaa;
   border-top:             0px;
}

/* distance between header-bar and menu-tabs */
#menu {
   padding-top:            20px;
}

/* main cell containing photo content */
#content {
   padding:                15px;
   padding-top:            20px;
   border:                 1px solid #cccccc;
}

#header {
   background-color:       #eeeeee;
   padding:                10px;
   vertical-align:         middle;
   white-space:            nowrap;
   height:                 50px;
   font-weight:            bold;
}

/* in general images do not have borders */
img {
   border:                 none;
}

img.imgborder {
   border:                 1px solid #cccccc;
}

/* common links */
a {
   font-size:              14px;
   color:                  #000000;
   text-decoration:        none;
}
a:visited {
   color:                  #333333;
}
a:hover {
   color:                  #008844;
   text-decoration:        underline;
}

/* input fields */
input, select, textarea {
   background-color:       #eeeeee;
   color:                  #333333;
   border:                 1px solid #888888;
   border-collapse:        collapse;
}

textarea.notearea {
   width:                  400px;
   height:                 50px;
}

input.submit,input.checkbox {
   background-color:       transparent;
   border:                 0px;
}

input.inputedit {
   width:                  400px;
}

input.inputlogin {
   width:                  150px;
}
